:root {
  --color-dark-primary: #15133c;
  --color-light-primary: #efefef;
  --color-secondary: #ec994b;
  --color-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-light-primary);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
