:root {
  --color-primary: #15133c;
  --color-secondary: #ec994b;
  --color-font: #15133c;
  --color-border: #15133c;
  --color-background: #fef9ff;
  --color-white: #fef9ff;
  --color-black: #000;
  --color-green: #00a852;
  --color-red: #ff5252;
}

[data-theme="dark"] {
  --color-border: #fef9ff;
  --color-font: #fef9ff;
  --color-background: #15133c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-font);
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
