.card {
  width: 80rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 3rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  border: 2px solid var(--color-border);
  margin-bottom: 2rem;
  transition: all 0.3s;
}

.card:hover {
  border: 2px solid var(--color-secondary);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
.icon > img {
  max-width: 3.5rem;
  max-height: 3.5rem;
}

.name {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.price {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.positive {
  color: var(--color-green);
}

.negative {
  color: var(--color-red);
}
