.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.container > h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
  transition: all 0.3s;
}

.container > h1:hover {
  color: var(--color-secondary);
  transform: scale(1.2);
}

.error {
  color: var(--color-red);
  font-size: 2rem;
  margin-top: 2rem;
}
