.pagination {
  display: flex;
  margin-bottom: 10rem;
}

.pagination > button {
  margin-top: 1rem;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--color-black);
  color: var(--color-black);
}

.pagination > button:hover {
  color: var(--color-secondary);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-secondary);
  transform: translateY(-5px) scale(1.2);
}
.pagination > button:active {
  transform: translateY(0) scale(1);
}

.pagination > button:first-child {
  margin-right: 3rem;
}
